.top_albums {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1vw;
    max-height: 610px;
    overflow: hidden;
    flex-grow: 1;
}

.modalAlign {
    @extend .top_albums;
    max-height: none;
    color:black;
}

.showMorebtn {
    float: right;
    border: none;
    font-size: 13px;
    font-weight: 600;
    background-color: transparent;
    color: white;
    margin-right: 1em;
}

@media only screen and (max-width: 600px) {
    .top_albums {
        max-height: 980px; 
    }
}
