.album_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
    position: relative;
    z-index: 1;
    
}
.albumImage{
    filter: drop-shadow(5px 5px 5px rgb(36, 90, 106));
    &:hover{
        filter: drop-shadow(10px 10px 5px rgb(2, 255, 242));
    }
}
.img_container {
    position: absolute;
    top: 0px;
    left: 10px;
    background-color: transparent;
}
.img_container > *{
    margin: 0 15px;
}