body {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(17, 34, 55);
}

.secondaryButton {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: rgb(216, 255, 237);
    cursor: pointer;
    margin: 0.5em 0;
    font-weight: 600;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.secondaryButton:hover {
    color: rgb(254, 156, 120);
}

.form-control:focus {
    box-shadow: none !important;
}

.className {
    background-color: aqua;
}

.menubar,.menubarMobile {
    min-width: 200px;
    padding: 0.5vw;
    display: block;
    /* height: calc(100vh - 84px); */
}

.modal-dialog {
    max-width: 80vw !important;
}

.modal-header {
    border-bottom: none !important;
    background-color: white !important;
}

.modal-body {
    background-color: white !important;
    max-height: 80vh !important;
    overflow: auto;
    border-radius: 10px;
}

.modal::-webkit-scrollbar-track-piece:end {
    /* background: transparent; */
    margin-bottom: 100px;
}

.modal-title {
    background-color: white;
    text-align: center;
}

.w-100 {
    width: 100%;
}

.modal-body::-webkit-scrollbar {
    display: block;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: rgb(220, 88, 73);
    border-right: none;
    border-left: none;
}

.modal-body::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
}

.modal-body::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}
.accordion-body{
    display: flex;
    flex-wrap: wrap;
}
  
@media screen and (max-width:640px) {
    .menubar,.userProfile {
        display: none;
    }
    .menubarMobile {
        display: block;
        position:absolute;
        z-index:999;
        background-color: rgb(17, 34, 55);
    }
}