body {
    padding: 0px;
    margin: 0px;
}

header,
aside,
.layoutChild {
    background-color: rgb(17, 34, 55);
}

.secondaryButton {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: rgb(216, 255, 237);
    cursor: pointer;
    margin: 0.5em 0;
    font-weight: 600;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.secondaryButton:hover {
    color: rgb(254, 156, 120);
}

.form-control:focus {
    box-shadow: none !important;
}

.className {
    background-color: aqua;
}

.menubar {
    min-width: 200px;
    padding: 0.5vw;
}

.modal-dialog {
    max-width: 70vw !important;
}

.modal-header {
    border-bottom: none !important;
    background-color: white !important;
}

.modal-body {
    background-color: white !important;
}

.modal-title {
    background-color: white;
    text-align: center;
}
.w-100{
    width: 100%;
}